<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project1"
        android:name=".OneSignalApplication">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".NavActivity"
            android:parentActivityName=".DashBoardActivity">

        </activity>

        <activity android:name=".Contact"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".MyMail"></activity>
        <activity android:name=".StorageActivity"></activity>
        <activity android:name=".MyTools"></activity>
        <activity android:name=".Referral"></activity>
        <activity android:name=".CreateTask"></activity>
        <activity android:name=".TaskCreationSuccess"></activity>
        <activity android:name=".CandidateEdit"></activity>
        <activity android:name=".sampleActivity"></activity>
        <activity android:name=".SearchFor"></activity>
        <activity android:name=".MyContact"></activity>
        <activity android:name=".MyClients"></activity>
        <activity android:name=".MyDatabase"></activity>
        <activity android:name=".MyFilesActivity"></activity>
        <activity android:name=".MyTaskActivity"></activity>
        <activity android:name=".FaqActivity"></activity>
        <activity android:name=".TicketSuccess"></activity>
        <activity android:name=".CandidateActivity"></activity>
        <activity android:name=".ClientActivity"></activity>
        <activity android:name=".ContactActivity"></activity>
        <activity android:name=".ActurialActivity"></activity>
        <activity android:name=".JobListings"
            android:parentActivityName=".NavActivity"></activity>
        <activity android:name=".CreateTicket"></activity>
        <activity android:name=".Add_client_activity"></activity>
        <activity android:name=".AddCandidateActivity"></activity>
        <activity android:name=".AddCandidateResumate"></activity>
        <activity android:name=".AddContactActivity"></activity>
        <activity android:name=".AddRecruitmentActivity"></activity>
        <activity android:name=".DashBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TaskSelectedActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".SplashScreenActivity"></activity>
        <activity android:name=".CandidateSplashScreen"></activity>
        <activity android:name=".ContactSplashScreenActivity"></activity>
        <activity android:name=".RecruitmentSplashScreenActivity"></activity>
    </application>

</manifest>