<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OneSignalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project1">
        <activity android:name=".RecruiterProfile"></activity>
        <activity android:name=".AddRecruiterActivity" />
        <activity android:name=".MeetingCreation" />
        <activity android:name=".OnboardingProcess" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".MessageAcitvity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".NavActivity"
            android:parentActivityName=".DashBoardActivity" />
        <activity android:name=".Contact" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MyMail" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".MyTools" />
        <activity android:name=".Referral" />
        <activity android:name=".CreateTask" />
        <activity android:name=".TaskCreationSuccess" />
        <activity android:name=".CandidateEdit" />
        <activity android:name=".sampleActivity" />
        <activity android:name=".SearchFor" />
        <activity android:name=".MyContact" />
        <activity android:name=".MyClients" />
        <activity android:name=".MyDatabase" />
        <activity android:name=".MyFilesActivity" />
        <activity android:name=".MyTaskActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".TicketSuccess" />
        <activity android:name=".CandidateActivity" />
        <activity android:name=".ClientActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ActurialActivity" />
        <activity
            android:name=".JobListings"
            android:parentActivityName=".NavActivity" />
        <activity android:name=".CreateTicket" />
        <activity android:name=".Add_client_activity" />
        <activity android:name=".AddCandidateActivity" />
        <activity android:name=".AddCandidateResumate" />
        <activity android:name=".AddContactActivity" />
        <activity android:name=".AddRecruitmentActivity" />
        <activity android:name=".DashBoardActivity" />
        <activity android:name=".TaskSelectedActivity" />
        <activity android:name=".myFiles_3" />
        <activity android:name=".MainActivity_JS" />
        <activity android:name=".profile" />
        <activity android:name=".jobSuggestion_1" />
        <activity android:name=".navigation" />
        <activity android:name=".faq" />
        <activity android:name=".mySchedule" />
        <activity android:name=".myfiles" />
        <activity android:name=".storage" />
        <activity android:name=".Referal" />
        <activity android:name=".CreateTicketJobSeeker" />
        <activity android:name=".mytask" />
        <activity android:name=".jobSuggestion" />
        <activity android:name=".signin" />
        <activity android:name=".dashboard" />
        <activity
            android:name=".JobLoginActivity"
            android:exported="true" />
        <activity
            android:name=".JSCareerInfo"
            android:exported="true" />
        <activity
            android:name=".JSPassword"
            android:exported="true" />
        <activity
            android:name=".JSDetails"
            android:exported="true" />
        <activity
            android:name=".JSPersonalInfo"
            android:exported="true" />
        <activity
            android:name=".UpdateActivity"
            android:exported="true" />
        <activity
            android:name=".CandidateComplete"
            android:exported="true" />
        <activity
            android:name=".CandidateReview"
            android:exported="true" />
        <activity
            android:name=".CandidateEducation"
            android:exported="true" />
        <activity
            android:name=".RecyclerView"
            android:parentActivityName=".CandidateEducation" />
        <activity
            android:name=".CandidateCertificates"
            android:exported="true" />
        <activity
            android:name=".CandidateGenInfo"
            android:exported="true" />
        <activity
            android:name=".JobDetail"
            android:exported="true" />

        <activity android:name=".EduRecyclerView"
            android:exported="true"
            android:parentActivityName=".CandidateEducation"/>

        <activity android:name=".EduUpdateActivity"
            android:exported="true"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SplashScreenActivity" />
        <activity android:name=".CandidateSplashScreen" />
        <activity android:name=".ContactSplashScreenActivity" />
        <activity android:name=".RecruitmentSplashScreenActivity" />
    </application>

</manifest>